<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%level] [%logger{36}] - [request_id:%X{request_id}] %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="RollingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/data/service-logs/biz-test-web.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%level] [%logger{36}] - [request_id:%X{request_id}] %msg%n
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/service-logs/biz-test-web_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>100</maxHistory> <!-- 保留天数 -->
            <totalSizeCap>10GB</totalSizeCap> <!-- 控制所有归档日志文件的总大小 -->
        </rollingPolicy>
    </appender>

    <springProfile name="local,dev">
        <root level="debug">
            <appender-ref ref="ConsoleAppender"/>
        </root>
        <logger name="cn.mic" level="debug" additivity="false">
            <appender-ref ref="ConsoleAppender"/>
        </logger>
    </springProfile>

</configuration>